<h1>Authors</h1>

<div>
  <% @users.each do|user| %><br/>
      <%= link_to user.username, user%><br/>
      <%= pluralize(user.articles.count,"article")%><br/>

      <%= link_to 'View Profile', user %> |
      <%= link_to 'Edit Profile', edit_user_path(user) %><br/><br/>
  <% end %>
</div>